# Dépendances
node_modules/

# Environnement (Contient tes mots de passe et clés secrètes)
.env

# IDE - IntelliJ / WebStorm (dossier .idea visible dans ton projet)
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/

# Système
.DS_Store
Thumbs.db